// Place all the styles related to the Meteos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.big-text {
  font-size: 40px;
}
